.main-m
{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: calc(100vh - 65px);
}

.main-m .title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-m .title h1
{
    font-size: 20px;
}

.main-m .title strong
{
    font-size: 40px;
}

.profile-image
{
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.6s ease-out;
    transform: scale(0) rotate(50deg);
}

.profile-image img
{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.habilities_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.habilities_1 .icon_down
{
    font-size: 35px;
    margin-top: 10px;
}


.habilities_1 div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.habilities_1 div strong
{
    background-color: #252525;
    width: 240px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    font-size: 20px;
    color: var(--text_alt);
    border: 2px dashed #303030;
    margin-bottom: 10px;
}

.habilities_1 div span
{
    font-size: 25px;
}

.download
{
    color: #ededed;
    border: 1px solid #505050;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    width: 240px;
    height: 50px;
    font-size: 20px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    transition: 0.5s;
    user-select: none;
    font-weight: bold;
}

.download:active
{
    transition: 0.2s;
    transform: scale(0.95);
    background-color: var(--react-color);
    color: #000;
    border-color: #000;
}

@media (min-width: 1024px)
{
    .download:hover
    {
        transition: 0.2s;
        transform: scale(0.95);
        background-color: var(--react-color);
        color: #000;
        border-color: #000;
    }
}