.main-m
{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: calc(100vh - 65px);
    position: relative;
}

.main-m .title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-m .title h1
{
    font-size: 20px;
}

.main-m .title strong
{
    font-size: 40px;
}

.profile-image
{
    width: 150px;
    height: 150px;
    align-self: center;
    margin-bottom: 20px;
    opacity: 0;
    transition: 0.6s ease-out;
    transform: scale(0) rotate(50deg);
}

.profile-image img
{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.habilities_1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.habilities_1 .icon_down
{
    font-size: 35px;
    margin-top: 10px;
}


.habilities_1 div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.habilities_1 div strong
{
    background-color: #252525;
    width: 240px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 30px;
    font-size: 20px;
    color: var(--text_alt);
    border: 2px dashed #303030;
    margin-bottom: 10px;
}

.habilities_1 div span
{
    font-size: 25px;
}

.download
{
    color: #ededed;
    border: 1px solid #505050;
    background-color: transparent;
    cursor: pointer;
    border-radius: 30px;
    width: 240px;
    height: 50px;
    font-size: 20px;
    display: grid;
    place-items: center;
    margin-top: 20px;
    transition: 0.5s;
    user-select: none;
    font-weight: bold;
}

.download:active
{
    transition: 0.2s;
    transform: scale(0.95);
    background-color: var(--react-color);
    color: #000;
    border-color: #000;
}

@media (min-width: 1024px)
{
    .download:hover
    {
        transition: 0.2s;
        transform: scale(0.95);
        background-color: var(--react-color);
        color: #000;
        border-color: #000;
    }
}






/* Animation */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}